<!-- ################################# Inicio: Menu de navegación ################################# -->
<nav id="navbar">
    <div>
        <nav class="navbar navbar-expand-lg navbar-dark navbarColor">
        <div class="container-fluid">
            <a class="colorNavWord" href="index"> <img src="assets/img/Iconos/Logo.jpg" alt="10"> </a>
            <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
            >
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-0 mb-lg-0">
                <li class="nav-item">
                <a class="colorNavWord active" aria-current="page" href="index">
                    Inicio
                </a>
                </li>
                <a class="colorNavWord dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Idiomas
                </a>
                <ul class="dropdown-menu navbarColor" aria-labelledby="navbarDropdown">
                <li><a class="colorNavWord" href="frances">Francés</a></li>
                <li><a class="colorNavWord" href="ingles">Inglés</a></li>
                <li><a class="colorNavWord" href="italiano">Italiano</a></li>
                <li><a class="colorNavWord" href="portugues">Portugués</a></li>
                <!-- <li><hr class="dropdown-divider" /></li> -->
                <li><a class="dropdown-item disabled" href="#">Alemán</a></li>
            </ul>

                <li class="nav-item">
                <a class="colorNavWord active" href="#">Nuestra hisotria</a>
                </li>
                <li class="nav-item">
                <a class="colorNavWord active" href="contacto">Contacto</a>
                </li>
                <li class="nav-item l-block">
                <a class="colorNavWord active" href="admin">Admin</a>
                </li>
            </div>
        </div>
        </nav>
    </div>
</nav>
<!-- ################################# Fin: Menu de navegación ################################# -->