<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title> IDI - Inglés </title>
    {{> links}}
  </head>
  <body class="bodyBGColor">

    <!-- Header -->
    <header>
        <img src="../assets/img/Ingles/Bandera.jpg" class="d-block w-100" alt="10">
    </header>

    <!-- Navbar -->
    {{> navbar}}

    <!-- ################################# Inicio: Cuerpo de la página ################################# -->
    <div>
      <br>
      <h1 class="fontColor fontType"> Idioma Inglés</h1>
      <p class="fontType">
        En nuestra casa de estudios te brindamos la posibilidad de que aprendas el idioma Inglés Americano... ¡El idioma más hablado en todo el mundo! 
      </p>
      <br>
      <h3 class="fontType titleFontFotmat">
        ¿Sabías qué...
      </h3>
      <p class="fontType">
        El Inglés Americano se refiere a la lengua que se habla en dicho continente y presenta diferencias mínimas con el Inglés Europeo, que es aquél que se habla como lengua nativa en Inglaterra. Es principalmente hablado en Estados Unidos, pero es utilizado en diversos paises como una segunda lengua común para eliminar las barreras idiomáticas.
       <br>
      </p>
      <br>
      <button class="btn btn-danger d-block ms-3" data-toggle="modal" data-target="#myModalAdd" style="border-color:blue">Practica Inglés!</button>
      <div>
        <form action="/save" method="post">
          <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Suscribite a nuestra Web</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <input type="text" name="nombre" class="form-control" placeholder="Ingresa tu nombre" required>
                  </div>
                  <br>
                  <div class="form-group">
                    <input type="text" name="apellido" class="form-control" placeholder="Ingresa tu apellido" required>
                  </div>
                  <br>
                  <div class="form-group">
                    <input type="text" name="edad" class="form-control" placeholder="Ingresa tu edad" required>
                  </div>
                  <br>
                  <div class="form-group">
                    <input type="text" name="mail" class="form-control" placeholder="Ingresa tu mail" required>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                  <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div>
        <br>
        <h3 class="fontType titleFontFotmat">
          Aquí te compartimos algunos datos de Estados Unidos
        </h3>
      </div>
      <div class="body-container">
        <div class="textoFrances">
          <p class="fontType">
            Estados Unidos se encuentra en América del Norte, y limita con Canadá al norte, y con México al sur, y esta constituido por 48 estados. Posee contacto con los océanos Pacífico y Atlántico. Así mismo, el estado de Alaska se sitúa separado del resto de los estados, situandoce al noroeste de Canadá, separado de Rusia por el estrecho de Bering.
            <br>
            La capital de Estados Unidos es Washintong D.C., ciudad en la que se encuentra la famosa "Casa Blanca", que es la residencia oficial del presidente del país. Dicha ciudad alberga además otro ícono de los Estados Unidos, que es el monumento a Washington.
            <br>
            Otro monumento muy conocido es el "Monte Rushmore", que se encuentra en el estado de Dakota del Sur, y representa una gran escultura de 4 presidentes influyentes de los Estados Unidos: George Washington, Thomas Jefferson, Theodore Roosevelt y Abraham Lincoln.
            <br>
            La vasta extención territoria del país lo hace huesped de una gran variedad de paisajes. Uno particularmente llamativo y conocido es "The Great Cannon", el gran cañón, en el estado de Colorado. Un destino natural que resalta por sus colores y contrastes.
            <br>
            Más alla de los monumentos mencionados, uno de los simbolos más icónicos y representativos de Estados Unidos es sin dudas la famosa Estatua de la Libertad, situada en la ciudad de Nueva York, en la isla de la libertad. Dicha estatua fue entregada como obsequio por Francia en 1886, como conmemoración del centenario de la Declaración de la Independencia.
            Así mismo también se puede encontra el famoso puente "Golden Gate", que une a las ciudades de California con la península de San Francisco.
          </p>
        </div>
        <div class="imagenFrances">
          <img src="/assets/img/Ingles/Mapa.jpg" class="w-100" alt="">
          <p>Mapa de Estados Unidos</p>
        </div>
        <div class="imagenFrances2">
          <img src="assets/img/Ingles/CasaBlanca.jpg" class="w-75" alt="">
          <p>La Casa Blanca</p>
        </div>
        <div class="imagenFrances3">
          <img src="assets/img/Ingles/Monumento.jpg" class="w-75" alt="">
          <p>Monumento a Washington</p>
        </div>
        <div class="imagenFrances4">
          <img src="assets/img/Ingles/Rushmore.jpg" class="w-75" alt="">
          <p>Monumento Rushmore</p>
        </div>
        <div class="imagenFrances5">
          <img src="assets/img/Ingles/Canion.jpg"  class="w-75" alt="">
          <p>El Gran Cañón</p>
        </div>
        <div class="imagenFrances6">
          <img src="assets/img/Ingles/EstatuaLibertad.jpg" class="w-75"  alt="">
          <p>Estatua de la Libertad</p>
        </div>
        <div class="imagenFrances7">
          <img src="assets/img/Ingles/GoldenGate.jpg" class="w-75" alt="">
          <p>Puente Golden Gate</p>
        </div>
      </div>

    </div>
    <!-- ################################# Fin: Cuerpo de la página ################################# -->

    <!-- Footer -->
    {{> footer}}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
      $(document).ready(function(){
        //Mostrar datos al modal para editar registro
        $('#mytable').on('click', '.edit', function(){
            //let suscriptor_id = $(this).data('suscriptor_id');
            let nombre = $(this).data('nombre');
            let apellido = $(this).data('apellido');
            let edad = $(this).data('edad');
            let mail = $(this).data('mail');
            $('#EditModal').modal('show');
            //$('.suscriptor_id').val(suscriptor_id);
            $('.nombre').val(nombre);
            $('.apellido').val(apellido);
            $('.edad').val(edad);
            $('.mail').val(mail);                    
        })
    
    })
    </script>

  </body>

</html>