<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title> IDI - Italiano </title>
    {{> links}}
  </head>
  <body class="bodyBGColor">

    <!-- Header -->
    <header>
        <img src="../assets/img/Italiano/Bandera.jpg" class="d-block w-100" alt="10">
    </header>

    <!-- Navbar -->
    {{> navbar}}

    <!-- ################################# Inicio: Cuerpo de la página ################################# -->
    <div>
      <br>
      <h1 class="fontColor fontType"> Idioma Italiano</h1>
      <p class="fontType">
        En nuestra casa de estudios te brindamos la posibilidad de que aprendas el idioma Italiano... ¡La lengua que hablaba el famoso artista Leonardo Da Vinci! 
      </p>
      <br>
      <h3 class="fontType titleFontFotmat">
        ¿Sabías qué...
      </h3>
      <p class="fontType">
        El idioma italiano no sólo se habla en Italia, sino que en muchos otros paises europeos como Suiza, San Marino y en algunas partes de Croacia y Eslovenía.
       <br>
       Italia comparte 2 características similares con la provincia Argentina de Santa Fe... Ambas tienen una extensión territorial similar, y además ambas poseen una forma similar a una bota.
      </p>
      <br>
<!-- Button trigger modal -->
      <button class="btn btn-success d-block ms-3" data-toggle="modal" data-target="#myModalAdd" style="border-color:red">Practica Italiano!</button>
      <div>
        <form action="/save" method="post">
          <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Suscribite a nuestra Web</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <input type="text" name="nombre" class="form-control" placeholder="Ingresa tu nombre" required>
                  </div>
                  <br>
                  <div class="form-group">
                    <input type="text" name="apellido" class="form-control" placeholder="Ingresa tu apellido" required>
                  </div>
                  <br>
                  <div class="form-group">
                    <input type="text" name="edad" class="form-control" placeholder="Ingresa tu edad" required>
                  </div>
                  <br>
                  <div class="form-group">
                    <input type="text" name="mail" class="form-control" placeholder="Ingresa tu mail" required>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                  <button type="submit" class="btn btn-success">Guardar</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div>
        <br>
        <h3 class="fontType titleFontFotmat">
          Aquí te compartimos algunos datos de Italia
        </h3>
      </div>
      <div class="body-container">
        <div class="textoFrances">
          <p class="fontType">
            Italia se encuentra en el centro del mar Mediterráneo, y su capital es la ciudad de Roma. Además, pertenecen a este país cerca de 800 islas menores que se encuentran en las proximidades. Las más conocidas son las islas de Sicilia y Cerdeña. Al norte, se encuentran los conocidos alpes, y limita con Suiza, Francia, Austría y Eslovenia.
            <br>
            Cuenta con muchas ciudades reconocidas a nivel mundial por su rica cultura, historia e impresionantes construcciones. Una de las atracciones más conocidas de Italia se encuentra en la ciudad de Roma, y es el Coliseo. Fue concevido como anfiteatro en la época del imperio romano. En su época podía albergar hasta 65.000 espectadores! En esta ciudad podemos encontrar también la "Fontana di Trevi", la cual es una fuente con unas esculturas cuidadosamente talladas, que fue construida en el año 1732.
            <br>
            Pero no sólo se pueden encontrar construcciones históticas en Roma... En Pisa esta la mundialmente conocida "Torre inclinada". Su construcción tomó casi 200 años en ser concluida, y su inclinación se debe a un subsuelo que es inestable. Por otro lado, en Milán se encuentra una de las catedrales más grandes del mundo, llamada "Duomo di Milano". Su concepción tomó casi 300 años en concretarse, y fue culminada en el año 1965.
            <br>
            Otras construcciones interesantes y de gran valor cultural son "La Arena" en Veroan, un anfiteatro que al igual que el Coliseo se utilizaba como entretenimiento donde se llevaban a cabo las luchas de gladiadores y que actualmente se utiliza para distintos espectáculos, y el "Castel del Monte" en Andría, construído en el siglo XIII, es conciderado como Patrimonio de la Humanidad por la UNESCO.
          </p>
        </div>
        <div class="imagenFrances">
          <img src="/assets/img/Italiano/Mapa.jpg" class="w-100" alt="">
          <p>Mapa de Italia</p>
        </div>
        <div class="imagenFrances2">
          <img src="assets/img/Italiano/Coliseo.jpg" class="w-75" alt="">
          <p>El Coliseo</p>
        </div>
        <div class="imagenFrances3">
          <img src="assets/img/Italiano/FontanaTrevi.jpg" class="w-75" alt="">
          <p>Fontana di Trevi</p>
        </div>
        <div class="imagenFrances4">
          <img src="assets/img/Italiano/CatedralMilan.jpg" class="w-75" alt="">
          <p>Catedral de Milán</p>
        </div>
        <div class="imagenFrances5">
          <img src="assets/img/Italiano/TorrePisa.jpg"  class="w-75" alt="">
          <p>Torre inclinada de Pisa</p>
        </div>
        <div class="imagenFrances6">
          <img src="assets/img/Italiano/CastelMonte.jpg" class="w-75"  alt="">
          <p>Castel del Monte</p>
        </div>
        <div class="imagenFrances7">
          <img src="assets/img/Italiano/ArenaVerona.jpg" class="w-75" alt="">
          <p>La Arena, Verona</p>
        </div>
      </div>

    </div>
    <!-- ################################# Fin: Cuerpo de la página ################################# -->

    <!-- Footer -->
    {{> footer}}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
      $(document).ready(function(){
        //Mostrar datos al modal para editar registro
        $('#mytable').on('click', '.edit', function(){
            //let suscriptor_id = $(this).data('suscriptor_id');
            let nombre = $(this).data('nombre');
            let apellido = $(this).data('apellido');
            let edad = $(this).data('edad');
            let mail = $(this).data('mail');
            $('#EditModal').modal('show');
            //$('.suscriptor_id').val(suscriptor_id);
            $('.nombre').val(nombre);
            $('.apellido').val(apellido);
            $('.edad').val(edad);
            $('.mail').val(mail);                    
        })
    
    })
    </script>

  </body>

</html>