<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title> IDI - Francés </title>
    {{> links}}
  </head>
  <body class="bodyBGColor">

    <!-- Header -->
    <header>
        <img src="../assets/img/Portugues/Bandera.jpg" class="d-block w-100" alt="10">
    </header>

    <!-- Navbar -->
    {{> navbar}}

    <!-- ################################# Inicio: Cuerpo de la página ################################# -->
    <div>
      <br>
      <h1 class="fontColor fontType"> Idioma Portugués</h1>
      <p class="fontType">
        En nuestra casa de estudios te brindamos la posibilidad de que aprendas el idioma portugués... ¡El idioma más hablado de America del Sur! 
      </p>
      <br>
      <h3 class="fontType titleFontFotmat">
        ¿Sabías qué...
      </h3>
      <p class="fontType">
        El idioma portugués no sólo se habla en portugla, sino que en paises como Brasil que pertenece a América y en paises de África como Angola o Mozambique. Estos paises junto con Guinea-Bissau, Cabo Verde, Santo Tomé y Príncipe y Timor Oriental conforman lo que se conoce como la comunidad de paises de lengua portuguesa.
        <br>
        Se calcula que aproximadamente 270.000.000 de hablantes, posicionandose como la novena lengua materna más hablada del mundo.
      </p>
      <br>
      <!-- Button trigger modal -->
      <button class="btn btn-warning d-block ms-3 text-success" data-toggle="modal" data-target="#myModalAdd" style="border-color:green">Practica Portugués!</button>
      <div>
        <form action="/save" method="post">
          <div class="modal fade" id="myModalAdd" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="exampleModalLabel">Suscribite a nuestra Web</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body">
                  <div class="form-group">
                    <input type="text" name="nombre" class="form-control" placeholder="Ingresa tu nombre" required>
                  </div>
                  <br>
                  <div class="form-group">
                    <input type="text" name="apellido" class="form-control" placeholder="Ingresa tu apellido" required>
                  </div>
                  <br>
                  <div class="form-group">
                    <input type="text" name="edad" class="form-control" placeholder="Ingresa tu edad" required>
                  </div>
                  <br>
                  <div class="form-group">
                    <input type="text" name="mail" class="form-control" placeholder="Ingresa tu mail" required>
                  </div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                  <button type="submit" class="btn btn-primary">Guardar</button>
                </div>
              </div>
            </div>
          </div>
        </form>
      </div>

      <div>
        <br>
        <h3 class="fontType titleFontFotmat">
          Aquí te compartimos algunos datos de Brasil
        </h3>
      </div>
      <div class="body-container">
        <div class="textoFrances">
          <p class="fontType">
            Brasil es el país con la extención territorial más grande de América del Sur, y es el quinto a nivel mundial. Su capital es la ciudad de Brasilia, y limita con muchos paises por ejemplo Argentina, Uruguay, Perú, Paraguay, entre otros, así como también con el oceano Atlántico. De hecho posee una línea costera que se extiende por más de 7.400 Km!
            Una de las ciudades más conocidas a nivel mundial por el turismo es Río de Janeiro. En dicha ciudad se desarrolló, entre otros grandes sucesos, el mundial de Fútbol Profesional Masculino. Así mismo, la ciudad cuenta con conocidas atracciones turisticas como el Cristo Redentor y el Pan de Azucar, así como la famosa playa Copacabana.
            <br>
            Otra atracción turística que destaca y es compartida con otros paises son las Cataratas del Iguazú, el salto de agua más alto del mundo!
            <br>
            Otra ciudad importante de Brasil es Sao Pablo, la ciudad más poblada de América del Sur, con más de 20.000.000 de habitantes. En ella se puede encontrar una construcción que destaca por su extravagante arquitectura y es conocido como el museo de arte de Sao Pablo.
            <br>
            También es de remarcar que Brasil contiene la mayor parte de la región del Amazonia, un espacio natural conocido también como el pulmón del planeta. En esta región se encuentra el recoinocido Río Amazonas, el más largo y caudaloso del mundo.
          </p>
        </div>
        <div class="imagenFrances">
          <img src="/assets/img/Portugues/Mapa.jpg" class="w-100" alt="">
          <p>Mapa de Brasil</p>
        </div>
        <div class="imagenFrances2">
          <img src="assets/img/Portugues/Cristo.jpg" class="w-75" alt="">
          <p>Cristo Redentor</p>
        </div>
        <div class="imagenFrances3">
          <img src="assets/img/Portugues/PanAzucar.jpg" class="w-75" alt="">
          <p>Pan de Azucar</p>
        </div>
        <div class="imagenFrances4">
          <img src="assets/img/Portugues/Copacabana.jpg" class="w-75" alt="">
          <p>Playa Copacabana</p>
        </div>
        <div class="imagenFrances5">
          <img src="assets/img/Portugues/Cataratas.jpg"  class="w-75" alt="">
          <p>Cataratas del Iguazú</p>
        </div>
        <div class="imagenFrances6">
          <img src="assets/img/Portugues/Museo.jpg" class="w-75"  alt="">
          <p>Museo de Arte de Sao Pablo</p>
        </div>
        <div class="imagenFrances7">
          <img src="assets/img/Portugues/Amazonia.jpg" class="w-75" alt="">
          <p>Región del Amazonia, Río Amazonas</p>
        </div>
      </div>
    </div>
    <!-- ################################# Fin: Cuerpo de la página ################################# -->

    <!-- Footer -->
    {{> footer}}

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

    <script>
      $(document).ready(function(){
        //Mostrar datos al modal para editar registro
        $('#mytable').on('click', '.edit', function(){
            //let suscriptor_id = $(this).data('suscriptor_id');
            let nombre = $(this).data('nombre');
            let apellido = $(this).data('apellido');
            let edad = $(this).data('edad');
            let mail = $(this).data('mail');
            $('#EditModal').modal('show');
            //$('.suscriptor_id').val(suscriptor_id);
            $('.nombre').val(nombre);
            $('.apellido').val(apellido);
            $('.edad').val(edad);
            $('.mail').val(mail);                    
        })
    
    })
    </script>

  </body>

</html>