<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IDI - Contacto</title>
    {{> links}}
  </head>
</head>
<body class="bodyBGColor">

    <!-- Header -->
    <header>
        <img src="/assets/img/Historia/Profesores.png" class="d-block w-100" alt="10">
    </header>

  <!-- Navbar -->
  {{> navbar}}

  <div class="contacto-container">
    <!-- ################################# Inicio: Cuerpo ################################# -->
    <div class="historia-container">
      <div class="textoHistoria">
       <h1 class="fontColor fontType">
          Bienvenido a nuestra historia
          <br>
        </h1>
        <p class="fontType">
          <br>
          El comienzo de nuestra historia se remonta al año 1996, cuando Graciela Aguirre de Martinez comenzó de manera particular a preparar niños y adolescentes en el idioma inglés. Todo esto lo hacía en el patio de su propia casa!
          <br>
          Gracias a el esfuerzo inagotable del día a día, poco a poco fueron aumentando la cantidad de alumnos interesados en aprender Inglés, por lo que de pronto se hizo necesario contar con más espacio, y más recursos humanos para cubrir dicha necesidad. Es entonces que en el año 2000, se toma la desición de mudarse a una edificación de mayor envergadura, donde se pudiera desarrolla con mayor facilidad las actividades del recientemente creado Instituto de Idiomas e incorporar a la recientemente creada institución más profesores del idioma
          <br>
          Pero no todo termina allí, luego de 3 años se logra la compra del edificio donde actualmente se encuentra ubicado. Con el correr de los años, y luego de mucho esfuerzo, el Instituto de Idiomas comenzó a expandir sus fronteras, e introdujo la enseñanza en el idioma francés, que desde ese momento hasta el día de hoy, es la única institución de la ciudad de San Justo que imparte el dictado de dicho idioma.
          <br>
          Pero eso no es todo, un corto período de tiempo más tarde, se comenzó a inculcar la enseñanza de otros dos idiomas más: italiano y portugués, convirtiendose en la primera y única institución de la región norte de Santa Fe en brindar la posibilidad de aprender todos estos idiomas. Un dato no menor, es el hecho de que todos los idiomas anteriormente mencionados cuentan con el reconocimiento del ministerio de educación de la nación, y se otorgan certificados de capacitación con validéz nacional durante y al finalizar el cursado de un idioma en particular.
          <br>
          Hoy en día el instituto ofrece capacitación no solo para niños y adolescentes, sino que también cuenta con profesores especialmente destinados para la enseñanza de adultos en cualquiera de sus idiomas.
          <br>
          El cuerpo directivo de la institución está conformado por su directora, la profesora María Laura Possi, y la vicedirectora Marcela Giordanino.
        </p>
      </div>
      <div class="imgHistoria1">
        <img src="assets/img/Historia/Graciela.jpg" alt="">
        <p>Graciela A. de Martinez</p>
      </div>
      <div class="imgHistoria2">
        <img src="assets/img/Historia/Laura.jpg" alt="">
        <p>M. Laura Possi</p>
      </div>
      <div class="imgHistoria3">
        <img src="assets/img/Historia/Marcela.jpg" alt="">
        <p> Marcela Giordanino</p>
      </div>
    </div>
    <!-- ################################# Fin: Cuerpo ################################# -->
  </div>
  <!-- Footer -->
  {{> footer}}

</body>

</html>