<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IDI - Contacto</title>
    {{> links}}
  </head>
</head>
<body class="bodyBGColor">

    <!-- Header -->
    <header>
        <img src="/assets/img/Historia/Profesores.png" class="d-block w-100" alt="10">
    </header>

  <!-- Navbar -->
  {{> navbar}}

  <div class="contacto-container">
    <!-- ################################# Inicio: Cuerpo ################################# -->
    <div>
      <h1 class="fontColor fontType contactoTitulo1">
        <br>
        Bienvenido a nuestra historia
        <br>
      </h1>
    </div>
    <div class="contactoTexto">
      <p class="fontType">
        <br>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odio vero accusantium similique voluptas asperiores expedita rerum nesciunt sit rem vel nisi, quia dolores quisquam inventore perspiciatis reprehenderit officia explicabo nemo.
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam veniam odio unde ad expedita magni nisi sequi, aliquam neque maiores natus laudantium accusamus hic fuga provident consectetur. Illum, dolore pariatur.
        <br>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis laborum, rem, quos nulla magni consequatur ratione unde quisquam, incidunt fuga perferendis. Dolorum temporibus expedita saepe voluptatum accusantium, sunt aliquid a.
      </p>
    </div>
    <!-- ################################# Fin: Cuerpo ################################# -->
  </div>
  <!-- Footer -->
  {{> footer}}

</body>

</html>