<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title> IDI - Inicio </title>
    {{> links}}

  </head>
  <body class="bodyBGColor">

    <!-- Header -->
    {{> header}}

    <!-- Navbar -->
    {{> navbar}}

    <!-- ################################# Inicio: Cuerpo de la página ################################# -->
    <div class="index-container">
      <div class="textoIndex1">
        <br>
        <h1 class="fontColor fontType"> Bienvenido/a al Instituto de Idiomas!</h1>
        <p class="fontType">
          Te damos la bienvenida a nuestro sitio web. Aquí podrás encontrar toda la información que necesites sobre nuestra querida casa de estudio. En la barra de navegación están disponibles distintas pestañas, haz clic en cualquiera de ellas para acceder a la información que desees.
          <br>
          <br>
          Dentro de la sección idiomas, podrás encontrar información acerca del idioma que te interese, y ademas podras practicarlo respondiendo a unas preguntas que te proponemos para que puedas determinar tu nivel.
        </p>
      </div>
      <div class="fotoIndex1">
        <img src="assets/img/Portada/bienvenida.jpg" class="w-75" alt="">
      </div>
      <div class="textoIndex2">
        <br>
        <h3 class="fontType titleFontFotmat">
          ¿Querés aprender un idioma? Aquí tenemos algunas buenas razones para hacerlo...
        </h3>
        <p class="fontType">
          La comunicación hoy en día es de vital importancia, no solo para trasmitir una idea, sino para poder entablar relaciones con personas de todas partes del mundo y expandir nuestror horizontes. El hecho de poder comunicarnos con los demás nos hace parte de la humanidad y nos permite ir evolucionando y creciendo personalmente.
          <br> <br>
          Cuando hablas dos idiomas (o más) tienes más oportunidades laborales. En el mundo competitivo de hoy eso representa una gran ventaja, ya que ayuda a traspasar fronteras, crear un puente y tener interacción con muchas personas de otros países. También puedes tener ofertas laborales internacionales. 
          <br> <br>
          Estudiar un idioma no consiste solamente en memorizar palabras y aprender la gramática asociada. Se trata de mucho más que eso! Aprender un idioma extranjero es también aprender la cultura, las tradiciones y las costumbres de otros paises, y poder entender la forma de pensar de otras culturas.
        </p>
        <br>
        <h3 class="fontType titleFontFotmat">
          Agiliza tu mente...
        </h3>
        <p class="fontType">
          Según diversos estudios de neurociencia al saber varios idiomas trabajas más tu mente. Tener que separar los idiomas te da la capacidad de procesar y manejar más información al mismo tiempo. Tienes mayor capacidad cognitiva y concentración.
        </p>
      </div>
      <div class="fotoIndex2">
        <img src="assets/img/Portada/diversidad.jpg" class="w-75" alt=""> {{!-- style="margin-top: 5rem;"> --}}
      </div>
      <div class="fotoIndex3">
        <img src="assets/img/Portada/cultura.jpg" class="w-75" alt="" style="margin-top: 1rem;">
      </div>
    </div>
    <!-- ################################# Fin: Cuerpo de la página ################################# -->

    <!-- Footer -->
    {{> footer}}

  </body>

</html>
